.challenges {
  background: linear-gradient(180deg, #b5c99a 0%, #faf8ea 100%);
  padding: 64px 0;
  text-align: center;
}

.challenges h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 47px;
  font-weight: 600;
  color: #862b0d;
  margin-bottom: 32px;
}

.slider-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 33.333%;
  padding: 0 16px;
}

.challenge-card {
  background-color: #fef9f0;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 400px;
}

.challenge-card h3 {
  font-family: "Urbanist", "Urbanist Placeholder", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  height: 70px;
}

.challenge-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.learn-more-button {
  background-color: #862b0d;
  color: #fff;
  padding: 8px 16px;
  border-radius: 24px;
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
  align-self: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #862b0d;
  color: #fff;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
