footer {
  background-color: #333;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

footer p {
  max-width: 600px;
  margin: 0 auto 2rem;
}

footer button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
}
