header {
  background-color: #b5c99a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 128px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-family: "Inter-Medium", "Inter", "Inter Placeholder", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
