.hero {
  position: relative;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.65;
  border-radius: 50px;
}

.hero-text {
  z-index: 1;
}

.hero-text h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 77px;
  font-weight: 600;
  color: #faf8ea;
  margin-bottom: 20px;
}

.video-button {
  background-color: #862b0d;
  color: #faf8ea;
  padding: 16px 32px;
  border-radius: 74px;
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
