.hero {
  position: relative;
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4rem;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
}
