.masthead {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.masthead::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.masthead h1 {
  font-size: 77px;
  font-family: "Urbanist", sans-serif;
  position: relative;
  z-index: 1;
}

.masthead p {
    font-size: 22px;
    font-family: "Urbanist", sans-serif;
    position: relative;
    z-index: 1;
}
