.research-partners {
  background-color: #faf8ea;
  padding: 80px 40px;
  text-align: center;
}

.research-partners h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 47px;
  font-weight: 600;
  color: #862b0d;
  margin-bottom: 60px;
}

.partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
}

.partner-logos img {
  height: 128px;
}

.research-partners p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 60px;
}

.sshrc-logo {
  width: 992px;
  height: 119px;
}
