.research-partners {
  padding: 2rem;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.partner {
  width: 30%;
}

.partner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
