@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&family=Inter+Tight:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter Tight', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #faf8ea;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', 'sans-serif';
  /*font-family: 'Urbanist', serif;*/
}
